@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Dancing+Script");
body {
  padding: 0;
  margin: 0;
  background: #eeeeee;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 10px 5%;
  float: left;
}

header::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  height: 60vh;
  -webkit-animation: bg_ani 20s linear infinite;
          animation: bg_ani 20s linear infinite;
  background: #6663630c;
  z-index: -5;
}

@-webkit-keyframes bg_ani {
  0% {
    border-radius: 20% 10% 40% 55% / 33% 54% 20% 35%;
    top: 50%;
    left: 50%;
  }
  25% {
    border-radius: 28% 44% 38% 25% / 63% 34% 40% 66%;
    top: 60%;
    left: 60%;
  }
  50% {
    border-radius: 20% 50% 40% 55% / 33% 54% 50% 45%;
    top: 60%;
    left: 30%;
  }
  75% {
    border-radius: 28% 44% 38% 25% / 63% 34% 40% 66%;
    top: 30%;
    left: 50%;
  }
  100% {
    border-radius: 20% 10% 40% 55% / 33% 54% 20% 35%;
    top: 50%;
    left: 50%;
  }
}

@keyframes bg_ani {
  0% {
    border-radius: 20% 10% 40% 55% / 33% 54% 20% 35%;
    top: 50%;
    left: 50%;
  }
  25% {
    border-radius: 28% 44% 38% 25% / 63% 34% 40% 66%;
    top: 60%;
    left: 60%;
  }
  50% {
    border-radius: 20% 50% 40% 55% / 33% 54% 50% 45%;
    top: 60%;
    left: 30%;
  }
  75% {
    border-radius: 28% 44% 38% 25% / 63% 34% 40% 66%;
    top: 30%;
    left: 50%;
  }
  100% {
    border-radius: 20% 10% 40% 55% / 33% 54% 20% 35%;
    top: 50%;
    left: 50%;
  }
}

header .brand_name {
  float: left;
}

header .brand_name::before {
  content: '';
  display: block;
  position: relative;
  top: 38px;
  left: 12px;
  width: 50px;
  height: 5px;
  background: #0ae0ab;
  -webkit-animation: brand_line 1s infinite;
          animation: brand_line 1s infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes brand_line {
  0% {
    width: 0;
  }
  100% {
    border-radius: 10px;
    width: 50px;
  }
}

@keyframes brand_line {
  0% {
    width: 0;
  }
  100% {
    border-radius: 10px;
    width: 50px;
  }
}

header .brand_name .f {
  font-size: 4rem;
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  position: relative;
  top: 0;
  left: 0;
  color: #0ae0ab;
}

header .brand_name .f .fname {
  position: absolute;
  font-size: 20px;
  left: 0px;
  top: 48px;
  font-family: sans-serif;
  color: #0ae0ab;
  -webkit-animation: fname 1s both;
          animation: fname 1s both;
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes fname {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 35px;
  }
}

@keyframes fname {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 35px;
  }
}

header .brand_name .r {
  font-size: 4rem;
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  position: relative;
  left: 10px;
  top: 30px;
  color: #9e9846;
}

header .brand_name .r .lname {
  position: absolute;
  font-size: 20px;
  left: 0px;
  top: 48px;
  font-family: sans-serif;
  color: #9e9846;
  -webkit-animation: logo 1s both;
          animation: logo 1s both;
  opacity: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 54px;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 54px;
  }
}

header .icon_box {
  float: right;
  padding: 0px;
}

header .icon_box ul li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0px 15px;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  overflow: hidden;
}

header .icon_box ul li:hover {
  border: none;
}

header .icon_box ul li:hover i {
  color: #ffffff;
}

header .icon_box ul li:hover::after {
  width: 100%;
  height: 100%;
}

header .icon_box ul li::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background: #0ae0aab9;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .icon_box ul li i {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ababb6;
  z-index: 1;
}

nav {
  position: absolute;
  top: 20%;
  right: 50px;
}

nav ul li {
  margin: 50px 0px;
  width: 70px;
  height: 30px;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid #0ae0ab;
}

nav ul li:nth-child(2) {
  width: 90px;
}

nav ul li:nth-child(3) {
  width: 90px;
}

nav ul li:hover {
  border: none;
}

nav ul li:hover::after {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  background: #9e9846;
  -webkit-animation: menu_line 1s infinite;
          animation: menu_line 1s infinite;
}

@-webkit-keyframes menu_line {
  0% {
    height: 0%;
  }
  20% {
    height: 100%;
  }
  30% {
    height: 100%;
  }
  90% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes menu_line {
  0% {
    height: 0%;
  }
  20% {
    height: 100%;
  }
  30% {
    height: 100%;
  }
  90% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

nav ul li:hover a span:nth-child(1) {
  color: red;
  left: 10px;
  opacity: 0;
}

nav ul li:hover a span:nth-child(2) {
  left: 50%;
  opacity: 1;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

nav ul li a span:nth-child(1):hover {
  color: red;
}

nav ul li a span:nth-child(2) {
  opacity: 0;
  left: 20px;
}

.banner_box {
  width: 100%;
  float: left;
  padding: 20px 5%;
}

.banner_box .left_box {
  width: 50%;
  padding: 20px;
  float: left;
  margin-top: 50px;
}

.banner_box .left_box .name_box {
  color: white;
  font-family: sans-serif;
}

.banner_box .left_box .name_box span {
  color: #d1d0d0;
  font-size: 14px;
}

.banner_box .left_box .name_box h1 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 4rem;
}

.banner_box .left_box .name_box h1 span {
  color: #9e9846;
  font-size: 4rem;
}

.banner_box .left_box .name_box h1::after {
  content: '';
  display: block;
  position: relative;
  width: 60%;
  height: 1px;
  background: #0AE0AB;
}

.banner_box .left_box .name_box a {
  position: relative;
  left: 50px;
  top: 50px;
  padding: 10px 50px;
  background: inherit;
  border: none;
  color: #0AE0AB;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  margin: 0;
  text-align: center;
  font-size: 12px;
}

.banner_box .left_box .name_box a::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 18px;
  background: #0AE0AB;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.banner_box .left_box .name_box a:hover {
  color: #fff;
  border: 2px solid #0AE0AB;
  top: 45px;
  -webkit-box-shadow: 1px 7px 8px #0ae0aa4d;
          box-shadow: 1px 7px 8px #0ae0aa4d;
}

.banner_box .left_box .name_box a:hover::before {
  z-index: -1;
  width: 102%;
  height: 105%;
}

.banner_box .right-box {
  width: 50%;
  padding: 20px;
  float: left;
}

.banner_box .right-box .profile__box {
  float: left;
  padding: 20px;
  width: 80%;
  position: relative;
}

.banner_box .right-box .profile__box::after {
  content: '';
  display: block;
  width: 88%;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid rgba(52, 187, 187, 0.479);
  z-index: -9;
}

.banner_box .right-box .profile__box p {
  color: #adadad;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  padding: 10px;
  font-size: 14px;
  position: relative;
  top: 0;
  left: 0;
}

.banner_box .right-box .profile__box p:hover::before {
  width: 30px;
}

.banner_box .right-box .profile__box p::before {
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  border-top: 1px solid springgreen;
  float: left;
  margin-top: 8px;
  margin-right: 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.banner_box .right-box .skill_box {
  width: 80%;
  padding: 10px;
  border: 1px solid #424242;
  float: left;
  margin-top: 50px;
  font-family: sans-serif;
}

.banner_box .right-box .skill_box h3 {
  padding: 0;
  margin: 0;
  color: #dadae0;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 20px;
}

.banner_box .right-box .skill_box p {
  float: left;
  padding: 10px;
  margin: 5px;
  color: #0ae0ab;
  border: 1px solid #525151;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 40px;
  cursor: crosshair;
}

footer {
  width: 100%;
  padding: 20px;
  border: 1px solid red;
  float: left;
}
/*# sourceMappingURL=style.css.map */